ion-header {
    --ion-background-color: rgb(4, 78, 175);
  }
  
  ion-toolbar {
    --color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btnMenu {
    color: white;
  }

  ion-title{
    font-weight: bold;
    text-align: center;
    color: aliceblue;
  }
  